/* public/css/admin.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #333;
    color: #aa1f1f;
   
    padding: 20px;
}

.container {
    display: flex;
}
ul a {
    padding: 6px;
    color: white;
    text-decoration: none;
    display: block;
}

ul {
    padding: 0;
    list-style: none;
    color: white;
}
.sidebar {
    background-color: #555;
    color: #fff;
    height: 100vh; /* Full height of the viewport */
    width: 150px;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}


          .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .product {
            width: 230px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .product img {
            max-width: 100%;
            max-height: 100px;
            margin-bottom: 10px;
        }

        .product-info {
            margin-bottom: 10px;
        }

        .product-name {
            font-size: 16px;
            font-weight: bold;
        }

        .product-price {
            font-size: 14px;
            color: #333;
        }

        .add-to-cart {
            padding: 8px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 14px;
        }

        .quantity-input {
            width: 40px;
            padding: 5px;
            text-align: center;
        }